<%- include('../templates/sheader')   %>

 <div class="hp4">
    <div class="container dc">
        <div class="text-center"> Subject Details</div>
        <table class="table  table-bordered">
            
            <tr>
                <td> Enrollment No</td>
                <td><%= stu.eno %><br></td>
            </tr>

            <tr>
                <td> Subject 1</td>
                <td><%= stu.s1 %><br></td>
            </tr>

            <tr>
                <td> Subject 2</td>
                <td><%= stu.s2 %><br></td>
            </tr>

            <tr>
                <td> Subject 3</td>
                <td><%= stu.s3 %><br></td>
            </tr>

            <tr>
                <td> Subject 4</td>
                <td><%= stu.s4 %><br></td>
            </tr>

            <tr>
                <td> Subject 5</td>
                <td><%= stu.s5 %><br></td>
            </tr>
            <tr>
                <td> Subject 6</td>
                <td><%= stu.s6 %><br></td>
            </tr>

            


        </table>
           
          
          
    </div>
   
 </div>


<%- include('../templates/sfooter')   %>