<%- include('../templates/sheader')   %>

 <div class="hp4">
    <div class="container dc">
        <div class="text-center"> Student Details</div>
        <table class="table  table-bordered">
            
            <tr>
                <td> Name</td>
                <td><%= stu.name %><br></td>
            </tr>

            <tr>
                <td> Email</td>
                <td><%= stu.email %><br></td>
            </tr>

            <tr>
                <td> Enrollment No.</td>
                <td><%= stu.eno %><br></td>
            </tr>

            <tr>
                <td> Address</td>
                <td><%= stu.address %><br></td>
            </tr>

            <tr>
                <td> Course</td>
                <td><%= stu.course %><br></td>
            </tr>

            <tr>
                <td> Streme</td>
                <td><%= stu.streme %><br></td>
            </tr>

            


        </table>
           
          
          
    </div>
   
 </div>


<%- include('../templates/sfooter')   %>